{% load static %}

<!-- Sidebar -->
<ul class="navbar-nav bg-secondary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href={% url 'index' %}>
            <img class="img-fluid logo" src={% static 'logo/2018_iba_Brands_RGB_300dpi_GLOBAL.png' %} alt="">
            <div class="sidebar-brand-text mx-3">ERP<sup>0.1</sup></div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider">
    
        <!-- Heading -->
        <div class="sidebar-heading">
            MENU
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            <i class="fas fa-file-alt fa-3x"></i>
            <span>Quotes</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="collapseOne" data-parent="#accordionSidebar">
            <div class="bg-secondary py-2 collapse-inner rounded">
                <a class="collapse-item text-white" href={% url 'quote-create' %}>
                    <i class="far fa-plus-square text-success"></i> New Quote
                </a>
                <a class="collapse-item text-white" href={% url 'quote-list' %} >
                    <i class="far fa-plus-square text-success"></i> List of quotes
                </a>
                <a class="collapse-item text-white" href="">
                    <i class="fas fa-search text-info"></i> Quotes History
                </a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-box-open"></i>
            <span>Products</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="collapseTwo" data-parent="#accordionSidebar">
            <div class="bg-secondary py-2 collapse-inner rounded">
                <h6 class="collapse-header">Options:</h6>
                <a class="collapse-item text-white" href={% url 'product-create' %}>
                    <i class="far fa-plus-square text-success"></i> Create Product                </a>
                <a class="collapse-item text-white" href={% url 'product-list' %}>
                    <i class="fas fa-list text-info"></i> Product List
                </a>
                {% comment %}
                <a class="collapse-item text-white" href={% url 'product-import-file' %} >
                    <i class="fas fa-file-upload text-success"></i> Import File</a>
                {% endcomment %}
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
            aria-controls="collapseThree">
            <i class="fas fa-book"></i>
            <span>Clients</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="collapseThree" data-parent="#accordionSidebar">
            <div class="bg-secondary py-2 collapse-inner rounded">
                <h6 class="collapse-header">Options:</h6>
                <a class="collapse-item text-white" href={% url 'client-create' %}>
                    <i class="far fa-plus-square text-success"></i> New Client</a>
                <a class="collapse-item text-white" href={% url 'client-list' %} >
                    <i class="fas fa-list text-info"></i>Client List</a>
            </div>
        </div>
    </li>
   
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->