{% extends 'ibaquotes/base/base.html' %}

{% load static %}

{% block title %}
    Quotes
{% endblock title %}

{% block content %}

<!-- Content Row -->

<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Quotes</h6>
        </div>
        <div class="card-body">
            <table id="example" class="table table-bordered dataTabledisplay dateTable cell-border compact stripe" style="width:100%">
                <thead>
                    <tr>
                        <th>Offer</th>
                        <th>Request</th>
                        <th>Client</th>
                        <th>Payment condition</th>
                        <th>Shipping terms</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quote in quotes %}
                    <tr>
                        <td>
                            <a class="" href={% url 'quote-show' quote.pk %}>
                                {{quote.offer}}
                            </a>
                        </td>
                        <td>{{quote.request}}</td>
                        <td>{{quote.client.company}}</td>
                        <td>{{quote.payment_condition.name}}</td>
                        <td>{{quote.shipping_term.name}}</td>
                        <td class="">
                            <a class="btn btn-sm btn-info btn-icon-split" href="{% url 'quote-copy' quote.pk %}">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <span class="text">Copy</span>
                            </a>
                            <a class="btn btn-sm btn-warning btn-icon-split" href="{% url 'quote-edit' quote.pk %}">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <span class="text">Edit</span>
                            </a>
                            <form action="{% url 'quote-delete' quote.pk %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-danger btn-icon-split" onclick="return confirm('Are you sure you want to delete this?')">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                    <span class="text">Delete</span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Content Row -->

{% endblock content %}


{% block custom_scripts %}
<script>
    $(document).ready(function () {
        $('#example').DataTable({
             "columns": [
                { "width": "20%" },
                { "width": "20%" },
                { "width": "20%" },
                { "width": "20%" },
                { "width": "20%" },
            ]
        });
    });
</script>
{% endblock custom_scripts %}