{% extends 'ibaquotes/base/base.html' %}

{% load static %}

{% block title %}
Show Quotation
{% endblock title %}

{% block content %}

<!-- Content Row -->

<div class="row">

    <div class="col-sm-12">

        <div id="app" class="card">

            <div class="card-header  d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 text-primary">Quotation</h6>
            </div>

            <div class="card-body">

                <form>

                    {% csrf_token %}

                    <div class="form-group row">
                        <a class="btn btn-primary col-md-1 offset-md-11" href={% url 'quote-pdf' quote.pk %}>
                            <i class="far fa-file-pdf"></i> Export
                        </a>
                    </div>
                    <div class="form-group row">

                        <label class="col-md-1 col-form-label text-right" for="client">Client:</label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" name="client" id="date"
                                value="{{quote.client.company}}" readonly>

                        </div>

                        <label class="col-md-1 offset-md-1 col-form-label text-right " for="date">Date:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="date" id="date" value="{{quote.date}}"
                                readonly>
                        </div>

                        <div>

                        </div>

                    </div>
                    <div class="form-group row">

                        <label class="col-md-1 col-form-label text-right" for="contact">Contact:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="contact" id="contact" readonly
                                value="{{ quote.client.cfname}}">
                        </div>

                        <label class="col-md-1 offset-md-3 col-form-label text-right" for="executive">Executive:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="executive" id="executive"
                                value="{{quote.executive}}" readonly>
                        </div>


                    </div>
                    <div class="form-group row">

                        <label class="col-md-1 col-form-label text-right" for="address">Address:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="address" id="address"
                                value="{{quote.address}}" readonly>
                        </div>

                        <label class="col-md-1 offset-md-1 col-form-label text-right" for="phone">Phone:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="phone" id="phone" value="{{quote.phone}}"
                                readonly>
                        </div>

                    </div>

                    <div class="form-group row">

                        <label class="col-md-1 col-form-label text-right" for="offer">Offer:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="offer" id="offer" value="{{quote.offer}}" readonly>
                        </div>

                        <label class="col-md-1 offset-md-1 col-form-label text-right" for="email">email:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="email" id="email" value="{{quote.email}}" readonly>
                        </div>
                        
                    </div>
                    <div class="form-group row">

                        <label class="col-md-1 col-form-label text-right" for="request">request:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="request" id="request"
                                value="{{quote.request}}" readonly>
                        </div>

                    </div>
                    <hr />
                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="paymentCondition">Payment
                            Condition:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="paymentCondition" id="paymentCondition"
                                value="{{quote.payment_condition.name}}" readonly>
                        </div>

                        <label class="col-md-1 col-form-label text-right " for="expDate">Exp
                            Date:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="expDate" id="expDate"
                                value="{{quote.exp_date}}" readonly>
                        </div>

                    </div>
                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="currency">Currency:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="currency" id="currency"
                                value="{{quote.currency.code}}" readonly>
                            </select>
                        </div>

                        <label class="col-md-2 offset-md-1 col-form-label text-right" for="shippingTerm">Shipping Terms:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="shippingTerm" id="shippingTerm"
                                value="{{quote.shipping_term.name}}" readonly>
                        </div>

                    </div>

                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="agreementDescrip">Description:</label>
                        <div class="col-md-10">
                            <textarea class="form-control" id="agreementDescrip" rows="8"
                                readonly>{{quote.description}}</textarea>
                        </div>

                    </div>
                    <hr />
                    <!-- Products Headers -->
                    <div class="form-group col-sm-12">
                        {% for group in groups %}
                        <div v-for="group in groups">
                            <div class="card">

                                <div class="card-header  d-flex flex-row align-items-center">

                                    <div class="col-sm-2 text-primary">
                                        <h6 class="text-primary">Group # {{group.group_num}}</h6>
                                    </div>

                                    <div class="col-sm-7">
                                        <label class="text-primary"> {{group.group_name}} </label>
                                    </div>

                                </div>
                                <div class="card-body">

                                    <table class="table table-sm table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="align-middle text-center" scope="col">#</th>
                                                <th class="align-middle text-center" scope="col">image</th>
                                                <th class="align-middle text-center" scope="col">Code</th>
                                                <th class="align-middle text-center" scope="col">Product</th>
                                                <th class="align-middle text-center" scope="col">Description</th>
                                                <th class="align-middle text-center" scope="col">Weight</th>
                                                <th class="align-middle text-center" scope="col">Quantity</th>
                                                <th class="align-middle text-center" scope="col">Price</th>
                                                <th class="align-middle text-center" scope="col">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for detail in quoteDetails %}
                                            {% if detail.group_num == group.group_num %}
                                            <tr v-for="prod in group.products">
                                                <td class="align-middle">{{detail.item_num}}</td>
                                                <td class="align-middle text-center">
                                                    <img src="{{detail.product.imageurl}}" alt="..." width="100" height="100" class="rounded mx-auto d-block">
                                                </td>
                                                <td class="align-middle text-center">{{detail.product.pdid}}</td>
                                                <td class="align-middle text-center">{{detail.product.name}}</td>
                                                <td class="align-middle text-left"><h6>{{detail.product_detail|safe}}</h6></td>
                                                <td class="align-middle text-center">{{detail.product.weight}}</td>
                                                <td class="align-middle text-center">{{detail.quantity}}</td>
                                                <td class="align-middle text-center">
                                                    {{detail.price}}</td>
                                                <td class="align-middle text-center">
                                                    {{detail.subtotal}}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="form-group row">

                        <div class=" col-md-3 offset-md-9">
                            <table class="table table-condensed table-bordered table-custom display" cellspacing="0"
                                width="100%">

                                <tr>
                                    <th colspan="2" class="bg-light text-center text-primary">SUMMARY</th>
                                </tr>
                                <tr>
                                    <th class="bg-light text-right">Total Groups:</th>
                                    <th class="text-right input-td">{{quote.subtotal}}</th>
                                </tr>
                                <tr>
                                    <th class="bg-light text-right">Total Weight Kg</th>
                                    <th class="text-right input-td">{{quote.weight}}</th>
                                </tr>
                                <tr>
                                    <th class="bg-light text-right">Taxes:</th>
                                    <th class="text-right input-td">{{quote.taxes}}</th>
                                </tr>
                                <tr>
                                    <th colspan="2" class=""></th>
                                </tr>

                                <tr>
                                    <th class="bg-light text-right">TOTAL:</th>
                                    <th class="bg-light text-right">{{quote.total}}</th>
                                </tr>

                            </table>
                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>
<!-- Content Row -->

{% endblock content %}