{% extends 'ibaquotes/base/base.html' %}

{% load static %}

{% block title %}
Edit Product
{% endblock title %}

{% block content %}

<!-- Content Row -->

<div class="row">

    <div class="col-sm-12">

        <div class="card">

            <div class="card-header  d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 text-primary">Edit Product</h6>
            </div>

            <div class="card-body">

                <form action={% url 'product-update' product.pk %} enctype="multipart/form-data" method="POST">

                    {% csrf_token %}

                    <div class="form-group row">
                        
                        <label class="col-md-2 col-form-label text-right" for="pdid"><span class="text-danger">*</span>Pdid:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="pdid" name="pdid" value="{{product.pdid}}" required>
                        </div>
                        <label class="col-md-2 col-form-label text-right" for="name"><span class="text-danger">*</span>Name:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="name" name="name" value="{{product.name}}" required>
                        </div>

                    </div>

                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="descr1"><span class="text-danger">*</span>Descr 1:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="descr1" name="descr1" rows="8" required>{{product.descr1}}</textarea>
                        </div>

                    </div>

                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="descr2">Descr 2:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="descr2" name="descr2" rows="8">{{product.descr2}}</textarea>
                        </div>

                    </div>
                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="detail">Detail:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="detail" name="detail" rows="8">{{product.detail}}</textarea>
                        </div>

                    </div>

                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="remarks">Remarks:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="remarks" name="remarks" rows="8">{{product.remarks}}</textarea>
                        </div>

                    </div>

                    <hr>

                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="harmonizedcode">Harmonized Code:</label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" id="harmonizedcode" name="harmonizedcode" value="{{product.harmonizedcode}}">
                        </div>

                    </div>

                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="price"><span class="text-danger">*</span>Price:</label>
                        <div class="col-sm-2">
                            <input type="number" step="0.01" class="form-control" id="price" name="price" value="{{product.price}}" required>
                        </div>

                        <label class="col-md-2 col-form-label text-right" for="weight"><span class="text-danger">*</span>Weight:</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="weight" name="weight" value="{{product.weight}}" required>
                        </div>

                        <label class="col-md-2 col-form-label text-right" for="date">Date:</label>
                        <div class="col-sm-2">
                            <input type="date" class="form-control" id="date" name="date" data-date-format="dd-MM-yyyy" value="{{product.date}}" required>
                        </div>

                    </div>

                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="ptype"><span class="text-danger">*</span>Ptype:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="ptype" name="ptype" value="{{product.ptype}}" required>
                        </div>

                        <label class="col-md-2 col-form-label text-right" for="handlager">Handlager:</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="handlager" name="handlager" value="{{product.handlager}}">
                        </div>

                        <label class="col-md-2 col-form-label text-right" for="lang_id">Lang id:</label>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" id="lang_id" name="lang_id" value="{{product.lang_id}}">
                        </div>

                    </div>

                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="eccn">Eccn:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="eccn" name="eccn" value="{{product.eccn}}">
                        </div>
                        <label class="col-md-2 col-form-label text-right" for="lkz">lkz:</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="lkz" name="lkz" value="{{product.lkz}}">
                        </div>

                        <label class="col-md-2 col-form-label text-right" for="ag">Ag:</label>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" id="ag" name="ag" value="{{product.ag}}">
                        </div>
                    </div>

                    <hr>

                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="imagepath">Upload Image:</label>
                        <div class="col-sm-4">
                            <label class="col-form-label text-right">{{product.imagepath}}</label>
                            <input type="file" accept="image/*" class="form-control-file" id="imagepath" name="imagepath" lang="en-US">
                        </div>

                        <label class="col-md-1 col-form-label text-right" for="imageurl">Or</label>

                        <label class="col-md-2 col-form-label text-right" for="imageurl">imageurl:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="imageurl" name="imageurl" value="{{product.imageurl}}">
                        </div>

                    </div>
                    <div class="form-group row">

                        <label class="col-md-2 col-form-label text-right" for="status"><span class="text-danger">*</span>Status:</label>
                        <div class="col-sm-3">
                            <select class="form-control selectpicker" data-width="false" data-live-search="true"
                                id="status" name="status" required>
                                {% for status in productStatus %}
                                    {% if status == product.status %}
                                        <option value="{{status.pk}}" selected>
                                            {{status.name}}
                                        </option>
                                    {% else  %}
                                        <option value="{{status.pk}}">
                                            {{status.name}}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <div class="form-group">

                        <button type="submit" value="submit" class="btn btn-primary float-right">Save</button>
                    </div>
                    <br>

                </form>

            </div>

        </div>

    </div>



</div>

<!-- Content Row -->

{% endblock content %}